@font-face {
	font-family: rsswx;
	src: url("../fonts/rsswx.otf");
}

.rsswx {
	font-family: rsswx;
}

.rsswx.rsswx-threat:before {
	content: "A";
}

.rsswx.rsswx-despair:before {
	content: "B";
}
.rsswx.rsswx-dispair:before {
	content: "B";
}
